@model will_blog.ViewModel.AuthLogin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
  <div>
    @Html.LabelFor(x => x.Username)
    @Html.EditorFor(x => x.Username)
  </div>
  <div>
    @Html.LabelFor(x => x.Password)
    @Html.EditorFor(x => x.Password)
  </div>
  <div>
    <input type="submit" value="Login"/>
  </div>
}
